---
version: '3.4'
services:
  InitNoOfDaysToWarmUp:
    command: run_backtest -v
    image: ea31337/ea-tester:EURUSD-2019-DS
    volumes:
      - ./sets/EURUSD:/opt/sets:rw
      - ./_results/EURUSD:/opt/_results:rw
    env_file: ../EA-Tester.ini
    environment:
      EA_OPTS: maxdrawdown_enable=1,maxdrawdown=10
      RUN_ON_SET: set_opt_params InitNoOfDaysToWarmUp 0 28 7
      SETFILE: /opt/sets/EA31337-InitNoOfDaysToWarmUp.set
      SET_PARAMS: InitNoOfDaysToWarmUp
      TEST_REPORT_NAME: EA31337-InitNoOfDaysToWarmUp
  RiskMarginPerOrder:
    command: run_backtest -v
    image: ea31337/ea-tester:EURUSD-2019-DS
    volumes:
      - ./sets/EURUSD:/opt/sets:rw
      - ./_results/EURUSD:/opt/_results:rw
    env_file: ../EA-Tester.ini
    environment:
      EA_OPTS: maxdrawdown_enable=1,maxdrawdown=10
      RUN_ON_SET: set_opt_params RiskMarginPerOrder 0 5
      SETFILE: /opt/sets/EA31337-RiskMarginPerOrder.set
      SET_PARAMS: RiskMarginPerOrder
      TEST_REPORT_NAME: EA31337-RiskMarginPerOrder
  RiskMarginTotal:
    command: run_backtest -v
    image: ea31337/ea-tester:EURUSD-2019-DS
    volumes:
      - ./sets/EURUSD:/opt/sets:rw
      - ./_results/EURUSD:/opt/_results:rw
    env_file: ../EA-Tester.ini
    environment:
      EA_OPTS: maxdrawdown_enable=1,maxdrawdown=10
      RUN_ON_SET: set_opt_params RiskMarginTotal 5 20 5
      SETFILE: /opt/sets/EA31337-RiskMarginTotal.set
      SET_PARAMS: RiskMarginTotal
      TEST_REPORT_NAME: EA31337-RiskMarginTotal
  RiskRatio:
    command: run_backtest -v
    image: ea31337/ea-tester:EURUSD-2019-DS
    volumes:
      - ./sets/EURUSD:/opt/sets:rw
      - ./_results/EURUSD:/opt/_results:rw
    env_file: ../EA-Tester.ini
    environment:
      EA_OPTS: maxdrawdown_enable=1,maxdrawdown=10
      RUN_ON_SET: set_opt_params RiskRatio 0 2.0 0.5
      SETFILE: /opt/sets/EA31337-RiskRatio.set
      SET_PARAMS: RiskRatio
      TEST_REPORT_NAME: EA31337-RiskRatio
  RiskRatioDecreaseMethod:
    command: run_backtest -v
    image: ea31337/ea-tester:EURUSD-2019-DS
    volumes:
      - ./sets/EURUSD:/opt/sets:rw
      - ./_results/EURUSD:/opt/_results:rw
    env_file: ../EA-Tester.ini
    environment:
      EA_OPTS: maxdrawdown_enable=1,maxdrawdown=10
      SET_PARAMS: RiskRatioDecreaseMethod
      RUN_ON_SET: >
        set_opt_params "$${SET_PARAMS}"
        $$(get_max 0 $$(bc <<< "$$(input_get $${SET_PARAMS}) - 7 * 10"))
        $$(get_min 255 $$(bc <<< "$$(input_get $${SET_PARAMS}) + 7 * 10"))
        7
      SETFILE: /opt/sets/EA31337-RiskRatioDecreaseMethod.set
      TEST_REPORT_NAME: EA31337-RiskRatioDecreaseMethod
  RiskRatioIncreaseMethod:
    command: run_backtest -v
    image: ea31337/ea-tester:EURUSD-2019-DS
    volumes:
      - ./sets/EURUSD:/opt/sets:rw
      - ./_results/EURUSD:/opt/_results:rw
    env_file: ../EA-Tester.ini
    environment:
      EA_OPTS: maxdrawdown_enable=1,maxdrawdown=10
      RUN_ON_SET: >
        set_opt_params "$${SET_PARAMS}"
        $$(get_max 0 $$(bc <<< "$$(input_get $${SET_PARAMS}) - 7 * 10"))
        $$(get_min 255 $$(bc <<< "$$(input_get $${SET_PARAMS}) + 7 * 10"))
        7
      SETFILE: /opt/sets/EA31337-RiskRatioIncreaseMethod.set
      SET_PARAMS: RiskRatioIncreaseMethod
      TEST_REPORT_NAME: EA31337-RiskRatioIncreaseMethod
