---
version: '3.4'
services:
  ATR_Active_Tf:
    command: run_backtest -v
    image: ea31337/ea-tester:EURUSD-2019-DS
    volumes:
      - ./sets/EURUSD:/opt/sets:rw
      - ./_results/EURUSD:/opt/_results:rw
    env_file: ../../../EA-Tester.ini
    environment:
      SET_PARAMS: ATR_Active_Tf
      SETFILE: /opt/sets/EA31337-ATR_Active_Tf.set
      TEST_REPORT_NAME: EA31337-ATR_Active_Tf
