---
name: Optimize All with No Boost

# yamllint disable rule:truthy
on:
  push:
    branches:
      - 'optimize-all-noboost'
      - 'optimize-all-noboost-*'

jobs:
  All-NoBoost:
    defaults:
      run:
        shell: bash
        working-directory: All-NoBoost
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # Otherwise, the token used is the GITHUB_TOKEN, instead of your personal token.
          persist-credentials: false
          # Otherwise, you will failed to push refs to dest repo.
          fetch-depth: 0
      - run: docker-compose run $DCA ProfitFactorMinToTrade
      - run: docker-compose run $DCA StopLossMax
      - run: docker-compose run $DCA TakeProfitMax
      - run: docker-compose run $DCA TrailingProfit
      - run: docker-compose run $DCA TrailingStop
      - run: docker-compose run $DCA TrailingStopAddPerMinute
      - run: docker-compose run $DCA TrendPeriod
      - name: Commit files
        run: |
          git config --local core.autocrlf false
          git config --local user.email "${{ github.actor }}@users.noreply.github.com"
          git config --local user.name "${{ github.actor }}"
          git status
          git pull origin ${{ github.ref }} --autostash --rebase -Xours
          git commit -am "${{ github.workflow }}"
      - name: Git Diff
        run: NO_PAGER=1 git --no-pager diff HEAD^
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          branch: ${{ github.ref }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
    env:
      DCA: "--rm"
